/* REDCap Translation Assistant - In-screen Translation Styles */

[data-inscreen-translation] {
    outline: 1px transparent solid;
    outline-offset: 1px;
}
[data-inscreen-translation]:hover {
    background-color: yellow;
    outline-width: 2px;
}
[data-inscreen-translation]:hover:not([data-inscreen-status]) {
    outline-color: red;
}
[data-inscreen-status="translate"] {
    outline-color: red;
}
[data-inscreen-status="do-not-translate"] {
    outline-color: rgb(65, 144, 180);
}
[data-inscreen-status="translated"] {
    outline-color: green;
}
[data-inscreen-status="outdated"] {
    outline-color: orange;
}



/* Translator Dialog */

[data-translation-widget="in-screen-editor"] {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 !important;
}

.in-screen-top {
    padding: 10px;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.in-screen-body {
    padding: 10px;
    height: 100%;
}
.in-screen-footer {
    padding: 10px;
    background-color: lightblue;
}
