/* REDCap Translation Assistant - In-screen Translation Styles */

[data-inscreen-translation]:hover {
    outline: 1px red solid;
    outline-offset: 1px;
    background-color: yellow;
}

.in-screen-minimized {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 1000;
    padding: 10px;
}