/* REDCap Translation Assistant - In-screen Translation Styles */

[data-inscreen-translation] {
    outline: 1px transparent solid;
    outline-offset: 1px;
}
[data-inscreen-translation]:hover {
    background-color: yellow;
    outline-width: 2px;
}
[data-inscreen-translation]:hover:has([data-inscreen-translation]:hover) {
    background-color: unset;
    outline-width: 2px;
}

[data-inscreen-translation]:hover:not([data-inscreen-status]) {
    outline-color: red;
}
[data-inscreen-status="translate"] {
    outline-color: red !important;
}
[data-inscreen-status="do-not-translate"] {
    outline-color: rgb(65, 144, 180) !important;
}
[data-inscreen-status="translated"] {
    outline-color: green !important;
}
[data-inscreen-status="outdated"] {
    outline-color: orange !important;
}


.in-screen-highlighted {
    background-color: yellow;
    outline: 2px yellow solid;
}


/* Translator Dialog */

#in-screen-translation-editor .flex-h-left {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

#in-screen-translation-editor .copy-button {
    margin: 0 .5em;
    text-decoration: none;
    font-size: 80%;
}
#in-screen-translation-editor .copy-button:hover {
    text-decoration: none;
    color: red;
    outline: none;
}
#in-screen-translation-editor .copy-button:focus:not(:hover) {
    text-decoration: none;
    color: black;
    outline: none;
}

#in-screen-translation-editor .textarea-autosize {
    overflow: hidden;
}

#in-screen-translation-editor .original-text {
    background-color: rgb(245, 245, 230);
    padding: 0.3em;
}


#in-screen-translation-editor {
    padding: 0 !important;
}

.in-screen-translation-container {
    display: grid;
    grid-template-rows: 45px 1fr 45px;
    grid-template-columns: 1fr 250px;
    grid-template-areas: 
        "header header"
        "translation metadata"
        "footer footer";
    max-height: 100%;
    height: 100%;
}

.in-screen-top {
    grid-area: header;
    align-self: self-start;
    padding: 10px 2px 0 10px;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.in-screen-no-item {
    grid-area: 2 / 1 / 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-style: italic;
}

.in-screen-translation-items {
    grid-area: translation;
    padding: 0 10px;
    overflow-y: auto;
}

.in-screen-metadata-items {
    grid-area: metadata;
    background-color: #fafafa;
    padding: 0 10px;
    border-left: 1px solid black;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.in-screen-metadata-badges {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 5px;
}

.in-screen-footer {
    grid-area: footer;
    padding: 10px;
    margin-top: 5px;
    background-color: rgb(188, 214, 223);
}


#in-screen-translation-editor h2 {
    line-height: 1;
    margin: 0.5em 0 0.5em 0;
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
}

#in-screen-translation-editor h3 {
    line-height: 1;
    margin: 0.5em 0 0.5em 0;
    font-size: 1em;
    font-weight: normal;
    font-style: italic;
}

#in-screen-translation-editor .v-spacer {
    height: 10px;
}

.in-screen-items-list {
    list-style: circle;
    margin: 0;
    padding-left: 2em;
}

.in-screen-items-list .badge {
    font-weight: normal;
}

.in-screen-translation-title {
    display: flex;
    justify-content: space-between;
}
